<%= link_to "#{current_user.email}", "/config" %>
<%= link_to "News Top", "/feed" %>

<%= render :partial => "layouts/channel_menu" %>

<p>Subject</p>
<% @feeds.each do |feed| %>
  <article>
  <dl>
    <% if feed.title? %>
      <dt><%= link_to "#{feed.title}", "#{feed.url}",:target => "_blank" %></dt>
      <dd><time datatime= <%= feed.published_at.in_time_zone('Tokyo').strftime("%Y-%m-%d") %>>
      <%= feed.published_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %></time>
      &nbsp;&nbsp;
      <%= feed.site_name %></dd>
      <dd><%= feed.summary %> </dd>
    <% end %>
  </dl>
  </article>
<% end %>
