<%= current_user.email %>

<% @sections.each do |site, section| %>
  <section>
    <h1><%= site %> </h1>
    <% section.each do |feed| %>
      <article>
      <dl>
        <dt><%= link_to "#{feed.title.sanitize}", "#{feed.url}",:target => "_blank" %></dt>
        <dd><time datatime= <%= feed.published.in_time_zone('Tokyo').strftime("%Y-%m-%d") %>>
        <%= feed.published.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %></time></dd>
      </dl>
      </article>
    <% end %>
  </section>
<% end %>

