<%= link_to "#{current_user.email}", "/config" %>
<%= link_to "News Top", "/feed" %>

<ul>
  <li><%= link_to "Choose Channel", "/myreads/edit" %></li>
  <li><%= link_to "Add Channel", "/config/add" %></li>
  <li><%= link_to "Change Region", "/users/edit" %></li>
</ul>
